@charset "utf-8";

#check_page {
    width: 100vw;
    font-family: "Arial", "Helvetica", "ヒラギノ角ゴ ProN W3", sans-serif;
}

.check_out {
    margin: 6vw auto 0 auto;
    width: 90%;
    text-align: center;
}

.back {
    margin: 8vw 0 0 7vw;
    display: block;
}

#check_page_heading {
    display: block;
    margin: 14vw auto 0 auto;
    text-align: center;
    font-size: 11vw;
}

.check_list{
    width: 90%;
    display: block;
    text-align: center;
    margin: 20vw auto 0 auto;
    font-size: 6vw;
    padding: 0 14vw 0 13vw;
}

.check_list p {
    width: 100%;
    text-align: center;
    margin-top: 6vw;
}

.check_list div {
    width: 100%;
}

textarea {
    overflow: auto;
    border: solid #000 1px;
    margin-left: 4vw;
    height: 9vw;
}