@charset "utf-8";

body {
    font-family: "Arial", "メイリオ", sans-serif;
}

#check_items {
    width: 100vw;
}

#index_heading {
    display: block;
    margin: 9vw auto 0 auto;
    text-align: center;
    font-size: 9vw;
    font-weight: bold;
}

.index_list {
    margin-top: 1vw;
}

ul .index_list, li {
    width: 70%;
    display: block;
    text-align: center;
    margin: 24vw auto 0 auto;
    font-size: 7vw;
}



